body{
    background-color: darkslategray;
    width: 100%
}

.clock{
    background-color: #ffff75;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid rgb(7, 0, 79);
    position: absolute;
    font-family: 'Segoe UI';
}

.clock::after {
    content: '';
    position: absolute;
    background-color: black;
    z-index: 11;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.hand{
    --rotation: 
    position: absolute;
    bottom: 50%;
    border: 5px solid black;
    --rotation: 0;
    transform: translateX(50%) rotate(calc (var(--rotation)*1deg));
}




.hour{
    width: 5px;
    height: 10%;
    background-color: black;
}

.minute{
    width: 5px;
    height: 15%;
    background-color: black;
}

.second{
    width: 2px;
    height: 15%;
    background-color: red;
}
.number{
    position: absolute;
    height: 100%; 
    width: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
}

.number1{
    --rotation:30deg;
}

.number2{
    --rotation:60deg;
}

.number3{
    --rotation:90deg;
}

.number4{
    --rotation:120deg;
}

.number5{
    --rotation:150deg;
}

.number6{
    --rotation:180deg;
}

.number7{
    --rotation:210deg;
}

.number8{
    --rotation:240deg;
}

.number9{
    --rotation:270deg;
}

.number10{
    --rotation:300deg;
}

.number11{
    --rotation:330deg;
}

.number12{
    --rotation:360deg;
}

