body{
    background-color: aqua;
    width: 100%;
}

.clock{
    background-color: beige;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid rosybrown;
    position: absolute;
    font-family: 'Franklink Gothic Medium', 'Arial Narrow', 'Arial Sans Serif';
}
.hand {
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    border: 1px solid goldenrod;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform-origin: bottom;
    z-index: 10;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}
.hour{
    width: 7px;
    height: 25%;
    background-color: black;
}
.minute{
    width: 7px;
    height: 45%;
    background-color: black;
}
.second{
    width: 4px;
    height: 45%;
    background-color: darkgoldenrod;
}
.number{
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
}
.number1{
    --rotation:30deg;
}
.number2{
    --rotation:60deg;
}
.number3{
    --rotation:90deg;
}
.number4{
    --rotation:120deg;
}
.number5{
    --rotation:150deg;
}
.number6{
    --rotation:180deg;
}
.number7{
    --rotation:210deg;
}
.number8{
    --rotation:240deg;
}
.number9{
    --rotation:270deg;
}
.number10{
    --rotation:300deg;
}
.number11{
    --rotation:330deg;
}
